extends ../layout

block content
	.section.mt-0
		.container-fluid
			.row
				.col-12.px-3.mt-4
					h4.m-0.d-inline-block.pr-2.text-uppercase bienvenido
					span.text-muted.text-uppercase asesor de marketing digital
					.row.my-2.mx-0
						.col-8.py-2
							span Estas son las citas que tienes agendadas:
						.col-4.px-0
							.row.m-0
								.col
								button.btn.col-5.p-2.px-3.bg-white
									i.now-ui-icons.ui-1_calendar-60.px-2
									span Atendidas
								button.btn.col-5.p-2.px-3.bg-white
									i.now-ui-icons.ui-1_calendar-60.px-2
									span Pendientes
					.col.py-4.px-4.bg-white
						h4.m-0.pb-3.text-danger.text-uppercase citas
						.col
							.row