extends ../layout

block content
	.section.mt-0
		.container-fluid
			.row
				.col-12.px-3.mt-4
					h4.m-0.pb-3.d-inline-block.pr-2 Dashboard
					span.text-muted.text-uppercase telemarketing
					.col.py-4.px-4.bg-white
						h5.m-0.pb-3.text-danger.text-uppercase reportes 
						.col
							.row
								form.col(action="")
									.row
										.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
											.form-group
												label.text-muted Prospectos:
												select.rounded.form-control(ng-model="")
													option(ng-value="false",ng-selected="true",selected="selected") Selecciona tu propuesto
											.form-group
												label.text-muted Actividades realizadas:
												textarea.rounded.form-control(name="t1",placeholder="Actividades del día..") 
										.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
											.form-group
												label.text-muted Comentarios extras:
												textarea.rounded.form-control(name="t2",placeholder="Comentarios..")
										.col-12.text-right
											button.btn.btn-danger(type="submit") 
												i.now-ui-icons.design-2_ruler-pencil.pr-1
												| Reportar actividad
										.col-12
											span.text-muted Registra tu actividad del día de cada proyecto.
					.col.py-4.px-4.bg-white.mt-4
						h5.m-0.pb-3.text-danger.text-uppsercase Historial
						.col
							.row
								.line-time.col-12
								.col-12
									h6.m-0.pb-1 Reporte Prospecto 154
									small 18 de Enero del 2018
									p.text-muted Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora totam rem aspernatur ea modi atque voluptatum mollitia maxime tempore tenetur, unde illo cupiditate dignissimos, nihil odio perspiciatis animi ipsam vitae dolorem? Vel, cumque optio. Nesciunt architecto, quisquam at quas atque qui autem modi, suscipit dolore ut odio! Id, quas autem.q

						//- .col
						//- 	button.btn.btn-primary(type="button",data-toggle="modal",data-target="#exampleModal") Modal
						//- 	button.btn.btn-warning(type="button",data-toggle="modal",data-target="#exampleModalMini") Modal Mini
