doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no')

		link(rel='apple-touch-icon', sizes='76x76', href='./img/apple-icon.png')
		link(rel='icon', type='image/png', href='./img/favicon.png')
		
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200')
		link(rel='stylesheet', href='./bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='./font-awesome/css/font-awesome.min.css')
		
		//- link(rel='stylesheet', href='./bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
		//- link(rel='stylesheet', href='./bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
		//- link(rel='stylesheet', href='./nouislider/distribute/nouislider.min.css')

		link(rel='stylesheet', href='./stylesheets/now-ui-kit.css?v=1.1.0')
		link(rel='stylesheet', href='./stylesheets/style.css')
		
		title=title

	body.sidebar-collapse
		.wrapper
			.login-page
				.page-header
					.page-header-image(style="background-image: url('./images/portada.jpg')")
					.container
						.col-sm-8.col-md-6.col-lg-6.col-lg-4.content-center.p-5.bg-white(style="color: black")
							.card.card-login.card-plain
								form.form(method="",action="")
									.header.header-primary.text-center
										.logo-container
											img(src="./images/logocolor.png",alt="")
									.content
										.input-group.input-lg
											.input-group-prepend.mr-0
												span.input-group-addon.input-group-text(style="border-left: 1px solid !important;")
													i.now-ui-icons.users_circle-08
											input.form-control(type="email",placeholder="Correo Electronico")
										.input-group.input-lg
											.input-group-prepend.mr-0
												span.input-group-addon.input-group-text(style="border-left: 1px solid !important;")
													i.now-ui-icons.objects_key-25
											input.form-control(type="password",placeholder="Contraseña")
										.row.mt-4
											.col-12.col-sm-6
												.checkbox.m-0
													input#checkbox(type="checkbox")
													label(for="checkbox") Recuérdame
											.col-12.col-sm-6
												a.link(href="#",style="text-decoration: none;") ¿Has perdido tu contraseña?
									.footer.text-center
										a.btn.btn-danger.btn-round.btn-lg.btn-block(href="#") Iniciar Sesion
									div
										h6.d-inline
											a.link(href="#",style="text-decoration: none;") Registrate
		script(src='./jquery/dist/jquery.min.js', type='text/javascript')
		script(src='./popper.js/dist/umd/popper.min.js', type='text/javascript')
		script(src='./bootstrap/dist/js/bootstrap.min.js', type='text/javascript')
		script(src='./bootstrap-switch/dist/js/bootstrap-switch.min.js', type='text/javascript')
		script(src='./nouislider/distribute/nouislider.min.js', type='text/javascript')
		script(src='./bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js', type='text/javascript')
		script(src='./javascripts/now-ui-kit.js', type='text/javascript') 