extends ../layout 

block content
	.section.mt-0
		.container-fluid
			.row
				.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
					.bg-info.p-3
						h4.text-white 345
						h6.text-white 
							span Todos los Prospectos
					.bg-info
						a.btn.btn-transparent.btn-block.text-white.m-0.rounded-0.text-uppercase VER
							i.now-ui-icons.arrows-1_minimal-right.bg-white.text-black.m-1.rounded-circle.p-1
				.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
					.bg-warning.p-3
						h4.text-white 345
							h6.text-white 
								span Todos los Prospectos
					.bg-warning
						a.btn.btn-transparent.btn-block.text-white.m-0.rounded-0.text-uppercase VER
							i.now-ui-icons.arrows-1_minimal-right.bg-white.text-black.m-1.rounded-circle.p-1
				.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
					.bg-success.p-3
						h4.text-white 345
							h6.text-white 
								span Todos los Prospectos
					.bg-success
						a.btn.btn-transparent.btn-block.text-white.m-0.rounded-0.text-uppercase VER
							i.now-ui-icons.arrows-1_minimal-right.bg-white.text-black.m-1.rounded-circle.p-1
				.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
					.bg-primary.p-3
						h4.text-white 345
							h6.text-white 
								span Todos los Prospectos
					.bg-primary
						a.btn.btn-transparent.btn-block.text-white.m-0.rounded-0.text-uppercase VER
							i.now-ui-icons.arrows-1_minimal-right.bg-white.text-black.m-1.rounded-circle.p-1
				.col-12.px-3.mt-4
					.bg-white.px-4.pb-4
						.col.pt-5.px-2
							h5.m-0 Prospectos
						.col-12.row.jusfity-content-between.px-2.py-4
							.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4.form-inline
								span.pr-1 
									b Mostrar
								select.form-control(name="")
									option(selected, disabled) 10
								span.pl-1 
									b registro
							.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
								h5.m-0
									span.badge.badge-danger.text-white.p-2.mr-1.rounded Copy
									span.badge.badge-danger.text-white.p-2.mr-1.rounded CSV
									span.badge.badge-danger.text-white.p-2.mr-1.rounded Excel
									span.badge.badge-danger.text-white.p-2.mr-1.rounded PDF
									span.badge.badge-danger.text-white.p-2.mr-1.rounded Print
							.col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4.d-flex.flex-row
								.d-flex.pr-2
									span(style="line-height: 3") Buscar: 
								.input-group.m-0.d-flex
									input.form-control(type="text",placeholder="Search...")
									.input-group-append
										button.btn.btn-outline-white.m-0.border-top.border-bottom.border-left.border-right(type="text", style="background: white") 
											i.now-ui-icons.ui-1_zoom-bold
						.col-12.px-2.py-4
							.table-responsive
								table.table.table-bordered
									caption.text-black 1 al 10 de un total de 1566 registros
									thead.bg-info.text-white
										tr
											th.text-uppercase(scope="col") # Prospecto
											th.text-uppercase(scope="col") Nombre
											th.text-uppercase(scope="col") # Teléfono
											th.text-uppercase(scope="col") Dirección
											th.text-uppercase(scope="col") Correo
											th.text-uppercase(scope="col") Agencia
											th.text-uppercase(scope="col") Origen
											th.text-uppercase(scope="col") Día cita
											th.text-uppercase(scope="col") acción
									tbody
										tr
											td.text-uppercase 456
											td.text-uppercase Francisco javier alvarado
											td.text-uppercase 2225765466
											td.text-uppercase enrique garcia carreto ed.311 int.202
											td.text-uppercase etc@gmail.com
											td.text-center
												img.img-fluid(src="./images/ryan.jpg", alt="", width="50px", height="50px")
											td.text-uppercase adwords
											td.text-uppercase 12/02/2018
											td.text-uppercase 
												button.btn.btn-default.rounded(type="button")
													i.now-ui-icons.design-2_ruler-pencil
												button.btn.btn-danger.rounded(type="button")
													i.now-ui-icons.ui-1_simple-remove
						.col-12
							nav.d-flex.justify-content-end
								ul.pagination
									li.page-item
										a.page-link(href="#") Anterior
									li.page-item
										a.page-link(href="#") 1
									li.page-item
										a.page-link(href="#") 2
									li.page-item
										a.page-link(href="#") 3
									li.page-item
										a.page-link(href="#") Siguiente
